
.home{
    width: 100%;
    height: 100vh;
    position: relative;
    /* Photo by Carlos Muza on Unsplash */
     background: url('./../img/charts2.jpg') center no-repeat;
     background-size: cover;
     font-family: 'Nunito', sans-serif;
}
#login_bttn{
    height: 40px;
    width: 80px;
    position: absolute;
    top: 40px;
    right: 220px;
}
#fb_icon{
    height: 30px;
    width: 80px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    color: white;
    font-weight: bold;
    font-size: 12px;
}
#home_container{
    width: 100%;
    height: 100vh;
    padding-top: 190px;
    position: absolute;
    top: 0;
}
#home_overlay{
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.5;
}
#home_container h1{
    font-size: 50px;
    text-align: center;
    color: white;
    font-family: 'Nunito', sans-serif;
}
#about_me{
    height: 120px;
    width: 860px;
    color: white;
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#about_me p{
    width: 422px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    line-height: 20px;
    word-spacing: 0.5px;
    font-family: 'Nunito', sans-serif;
}
#graphs{
    color: white;
    font-weight: bold;
    font-size: 12px;
    position: absolute;
    top: 45px;
    right: 315px;
    display: none;
}
