
.home{
    width: 100%;
    height: 100vh;
    position: relative;
    /* Photo by Carlos Muza on Unsplash */
     background: url('./../img/charts2.jpg') center no-repeat;
     background-size: cover;
     font-family: 'Nunito', sans-serif;
}
#login_bttn{
    height: 50px;
    width: 170px;
    background: #4885ed;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
#fb_icon{
    height: 30px;
    width: 30px;
    background: url(https://maxcdn.icons8.com/Share/icon/p1em/Logos//google_logo1600.png) center no-repeat;
    background-size: cover;
    filter: invert();
    position: absolute;
    top: 10px;
    left: 5px;
}
#login_bttn a{
    position: absolute;
    right: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 11px;
    top: 20px;
    font-family: 'Nunito', sans-serif;
}
#home_container{
    width: 100%;
    height: 100vh;
    padding-top: 137px;
    position: absolute;
    top: 0;
}
#home_overlay{
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.5;
}
#home_container h1{
    font-size: 50px;
    text-align: center;
    color: white;
    font-family: 'Nunito', sans-serif;
}
#about_me{
    height: 120px;
    width: 100%;
    color: white;
    position: relative;
    text-align: center;
}
#about_me p{
    width: 422px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    line-height: 20px;
    word-spacing: 0.5px;
    font-family: 'Nunito', sans-serif;
}

