.login{
    height: 100vh;
    width: 100%;
    background: #89B2A7;
}
#login_container{
    height: 500px;
    width: 400px;
    /* border: 1px solid black; */
    border-radius: 3px;
    box-shadow: 5px 5px 17px #515151;
    background: white;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 35px;
}
#g_login_bttn{
    height: 50px;
    width: 175px;
    background: #4885ed;
    position: absolute;
    bottom: 100px;
    left: calc(50% - 87.5px);
}
#g_login_bttn a{
    position: absolute;
    right: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 11px;
    top: 20px;
    font-family: 'Nunito', sans-serif;
}
#g_icon{
    background: url(https://maxcdn.icons8.com/Share/icon/p1em/Logos//google_logo1600.png) center no-repeat;
    background-size: cover;
    height: 30px;
    width: 30px;
    filter: invert();
    position: absolute;
    top: 10px;
    left: 5px;
}